<!-- footer -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 900,
        offset: 150
    });
    $('.tour__carousel').carousel({
        interval: 1000
    })
</script>
<div id="footer">
    <div class="container">
        <div class="d-flex flex-wrap">
            <div class="footer-data flex-grow-1">
                <p class="footer--headline"><b>Information</b></p>
                <p class="mt-3">
                    <a href="/about">
                        About Us
                    </a> 
                </p>
                <p>
                    <a href="/tour">
                    Our Tours
                    </a>
                </p>
                <p>
                    <a href="/food">
                    Our Food Services
                    </a>
                </p>
                <p>
                    <a href="/spa">
                    Our Spa Services
                    </a>
                </p>
                <p>
                    <a href="/contact">
                        Contact us
                    </a>
                </p>
            </div>
            <div class="footer-data flex-grow-1 align-items-start text-left">
                <p class="mb-3 footer--headline"><b>Get in Touch</b></p>
                <a href="#"><i class="fas fa-envelope fa_custom"></i></a>
                <a href="#"><i class="fab fa-facebook fa_custom"></i></a>
                <a href="#"><i class="fab fa-instagram fa_custom"></i></a>
            </div>
        </div>
        <div class="footer-copyright">
            <p>  © 2021 trolleydolly.</p>
            <small>
                <p>Designed by <a href="https://sangeetashetty.netlify.app">Sangeeta Shetty</a> and <a href="https://sharminoomatia.netlify.app/">Sharmin Oomatia</a>
                </p>
            </small>
        </div>
    </div>
    
</div>
</body>

</html>