<!-- footer -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 900,
        offset: 150
    });
</script>
<div id="footer">
    <div class="d-flex flex-wrap">
        <div class="footer-data flex-grow-1">
            <p><b>INFORMATION</b></p>
            <p>
                <small>
                    <a href="/contact">
                        Contact us
                    </a>
                </small>
            </p>
            <p>
                <small>
                <a href="#">
                Privacy Policy
                </a>
                </small>
            </p>
            <p>
                <small>
                <a href="#">
                Terms and conditions
                </a>
                </small>
            </p>
        </div>
        <div class="footer-data flex-grow-1 align-items-start">
            <p><b>GET IN TOUCH</b></p>
            <a href="#"><i class="fa fa-envelope-o fa_custom"></i></a>
            <a href="#"><i class="fa fa-facebook fa_custom"></i></a>
            <a href="#"><i class="fa fa-instagram fa_custom"></i></a>
        </div>
    </div>
    <div class="footer-copyright">
        <p> <small> © 2020 trolleydolly. </small></p>
    </div>
</div>
</body>

</html>