<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Trolley Dolly Adventures - We Provide Tourist Services for Airline Staff</title>
    <!-- aos animation style sheet link  -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- meta tags  -->
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap script  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- font-awesome link  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Montserrat:wght@700&family=Josefin+Sans&family=Lato:wght@900&display=swap" rel="stylesheet">
    <!-- css file -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- owl carousel  -->
    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
    <script src="jquery.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
    <!-- transition link -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" /> -->
    
</head>
<body>


    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn mt-5" onclick="closeNav()">&times;</a>
        <a href="/" class="mt-5">Home</a>
        <a href="/tour">Tour</a>
        <a href="/spa">Spa</a>
        <a href="/food-services">Food</a>
        <a href="/contact-us">Contact</a>
    </div>

    <div class="">
        <a href="">
            <img class="navbar__logoimg" src="/photos/logo.jpg" alt="">
        </a>
    </div>
    <div class="text-right navbar__icon fixed-top mr-2">
        <span onclick="openNav()">&#9776;</span>
    </div>
    
    
    




    <script>
        // document.addEventListener("DOMContentLoaded", function(event) {
        //     // Your code to run since DOM is loaded and ready
        //     function changeBg() {
        //         if (window.scrollY >= 200) {
        //             document.getElementById("navbar").classList.add("mnav", "active");
        //         } else {
        //             document.getElementById("navbar").classList.remove("mnav", "active");
        //         }
        //     }
        //     window.addEventListener('scroll', changeBg)

        // });
        function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
    </script>