<%- include("partials/header") -%>


    <div class="about">
        <h1 class="pages__heading"><span class="underline--magical underline--about">About Us.</span></h1>
    </div>
    <div class="mb-5 aboutus">
        <div class="container">
            <p class="about__para mt-5 mx-auto">Trolley Dolly Adventures was started by a UK-based restaurateur named Brijesh Ramdas aka Binny who is also married to a cabin crew of a renowned UK airline based in London.</p>
        </div>
        <div class="row about__image d-flex flex-wrap align-items-center about__personal__container " style="margin-right: 0;">
            <!-- <div class="container"> -->
            <div class="col-lg-6 col-12 col-sm-12" style="padding-right: 0;">
                <img class="profile img-fluid" src="/photos/about/about-us.jpg" alt="">
            </div>
            <div class="col-lg-6 col-12 col-sm-12 about-para-contain" style="padding-right: 0;">
                <h2 class="mt-4" style="color: #DFBA89;">Brijesh Ramdas aka Binny</h2>
                <div class="mt-3">
                    <p>
                        In early 2019, Binny was diagnosed with a dreaded brain tumor, and post-surgery, one side of his body became extremely vulnerable. Due to this, he took a sojourn in India to spend some quality time with his family and to sought ayurvedic treatment for
                        a better prognosis. Whilst living in Mumbai, his wife Mariana came up with an idea to keep Binny engaged with something that he loves and that is 'interacting with people'. In the hindsight, after mulling over many options, the
                        concept of Trolley Dolly Adventures came into the picture. With Trolley Dolly Adventures, international airline crew members flying to India can utilise their leisure time rather than staying glued to their hotel rooms and miss
                        all the action around.
                    </p>
                    <p>
                        Trolley Dolly Adventures also indulges in philanthropic activities and donates a certain percentage of our profits to local kids orphanage. If anyone wants to contribute and play a part in this noble cause, they can lend a helping hand to these orphaned
                        kids by donating them clothes, study materials, chocolates, etc. After all, the smallest act of kindness is worth more than the grandest intention.
                    </p>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <div class="container">
            <div class="row align-items-center about__help ">
                <div class="col-lg-9 about__helpLeft">
                    <h2 style="color: #734A1D;">How can we help you ?</h2>
                    <p>
                        Binny and his team will ensure that they make good use of their layover time by offering services like wonderful city tours, rejuvenating spa & beauty packages backed by safe and efficient pickup and drop facilities from their respective hotels. To spice
                        things up, we've also added new services like for instance, one can order lip-smacking food & favourite drinks, pharmaceutical goods, souvenirs, and other essential items all at their hotel's doorstep. Soon, we will be spreading our
                        wings by offering similar services in many other popular cities like Delhi and other main cities in India and abroad.
                    </p>
                </div>
            </div>
            <div class="">
                <a href="/tour" class="">
                    <button class='btn btn-outline-dark'>Our Tours</button>
                </a>
                <a href="/contact-us" class="">
                    <button class="btn btn-dark">Contact Us</button>
                </a>
            </div>
        </div>
        
        
    </div>




    <%- include("partials/footer") -%>