<%- include("partials/header") -%>


    <div class="about">
        <h1>About Us.</h1>
    </div>
    <div class="container mb-5 aboutus">
        <p class="about__para mb-5 mt-5 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra orci sagittis eu volutpat odio facilisis. Nullam ac tortor vitae purus faucibus ornare suspendisse sed. Senectus
            et netus et malesuada fames ac turpis egestas. In cursus turpis massa tincidunt dui. Consectetur lorem donec massa sapien faucibus. Pellentesque habitant morbi tristique senectus. Tristique senectus et netus et malesuada fames ac turpis. Feugiat
            pretium nibh ipsum consequat nisl. Tortor condimentum lacinia quis vel eros donec ac odio tempor. Quis viverra nibh cras pulvinar mattis nunc sed blandit libero. Arcu ac tortor dignissim convallis aenean et tortor. Dignissim diam quis enim
            lobortis scelerisque.</p>
        <div class="row about__image d-flex flex-wrap align-items-center">
            <div class="col-lg-6 col-12 col-sm-12">
                <img class="profile mt-5 img-fluid" src="https://images.unsplash.com/photo-1526560244950-1a3c1ace48f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            </div>
            <div class="col-lg-6 col-12 col-sm-12">
                <h2>John Smith</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra orci sagittis eu volutpat odio facilisis. Nullam ac tortor vitae purus faucibus ornare suspendisse sed. Senectus et netus
                    et malesuada fames ac turpis egestas. In cursus turpis massa tincidunt dui. Consectetur lorem donec massa sapien faucibus. Pellentesque habitant morbi tristique senectus. Tristique senectus et netus et malesuada fames ac turpis. Feugiat
                    pretium nibh ipsum consequat nisl. Tortor condimentum lacinia quis vel eros donec ac odio tempor. Quis viverra nibh cras pulvinar mattis nunc sed blandit libero. Arcu ac tortor dignissim convallis aenean et tortor. Dignissim diam quis
                    enim lobortis scelerisque.
                </p>
            </div>
        </div>
        <div class="row align-items-center about__help">
            <div class="col-lg-9 about__helpLeft">
                <h2>How can we help you ?</h2>
                <p>
                    We take all the cabin crew members on tour. Pellentesque habitant morbi tristique senectus. Tristique senectus et netus et malesuada fames ac turpis. Feugiat pretium nibh ipsum consequat nisl. Tortor condimentum lacinia quis vel eros donec ac odio tempor.
                    Quis viverra nibh cras pulvinar mattis nunc sed blandit libero. Arcu ac tortor dignissim convallis aenean et tortor. Dignissim diam quis enim lobortis scelerisque.
                </p>
            </div>
        </div>
        <div class="">
            <a href="/tour" class="">
                <button class="btn btn-light homeCard__btn">Our Tours</button>
            </a>
            <a href="/contactus" class="">
                <button class="btn btn-light homeCard__btn">Contact Us</button>
            </a>
        </div>
    </div>




    <%- include("partials/footer") -%>