<%- include("partials/header") -%>

    <div>
        <div class="" id="activities">
            <h1 class="pages__heading"><i>ACTIVITIES</i></h1>
        </div>
        <br>
        <h2 class="text-center">Our tours are listed below</h2>
        <br><br><br>
        <div class="container mx-auto row text-center">
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/taj.jpg" alt="">
                <h6>Taj Mahal Tour</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/taj2.jpg" alt="">
                <h6>Tour 1</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/taj.jpg" alt="">
                <h6>Tour 1</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/taj.jpg" alt="">
                <h6>Tour 1</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
        </div>
        <br> <br>
        <div class="container mx-auto row text-center">
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/taj.jpg" alt="">
                <h6>Tour 1</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/taj.jpg" alt="">
                <h6>Tour 1</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/taj.jpg" alt="">
                <h6>Tour 1</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/taj.jpg" alt="">
                <h6>Custom Tour</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
        </div>
    </div>

    <%- include("partials/footer") -%>