

<%- include("partials/header") -%>

<div class="contact__page ">
    <div class="contact-heading text-center">
        <h2 class="mt-5">CONTACT US</h2>
        <p style="letter-spacing: normal; font-weight: normal;">We are located in Mumbai, India. Feel free to use the <br> contact form to reach out to us.</p>
    </div>

    <div class="container mt-5 contact-details">

        <div class="row">
            <div class="col-12 col-lg-5 col-md-12 col-sm-12 text-center">
                <h6 class="mt-5 mb-3">OUR CONTACT DETAILS</h6>
                <br>
                <div class="text-center contact__left">
                    <small>
                    <img class="mt-1 mb-3" src="/photos/Contact/mail.png" alt="">
                    <p><b>MAIL</b></p>
                    <p><a href="mailto:brijeshramdas@yahoo.co.uk">binny@trolleydollyadventures.com</a></p>
                    <!-- <hr style="width: 300px;"> -->
                    <img class="mt-5 mb-3" src="/photos/Contact/whatsapp.png" alt="">
                    <p><b>WHATSAPP</b></p>
                    <p>
                    <a  href="https://api.whatsapp.com/send?phone=91 9717389303">+91 9321160188</a>
                    </p>
                    <!-- <hr  style="width: 300px;"> -->
                    <img class="mt-5 mb-3" src="/photos/Contact/phone-call.png" alt="">
                    <p><b>PHONE SUPPORT</b></p>
                    <p><a href="tel:+91 9717389303">+91 9321160188</a></p>
                    <!-- <hr style="width: 300px;"> -->
                </small>
                </div>
            </div>
            <div class="col-12 col-lg-7 col-md-12 col-sm-12">
                <form method='post' id='myForm' onsubmit="validateForm()">
                    <div class="form-group mt-5 mb-3">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="hotel">The hotel in which you are staying</label>
                        <input type="text" class="form-control" id="hotel" name="hotel"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="phoneno">Phone Number</label>
                        <input type="text" class="form-control" id="phoneno" name="phoneno"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" rows="5" name="message"></textarea>
                    </div>
                    <p class="success__message mt-3">Thanks for getting in touch with us.
                        We will reach to you as soon as possible. </p>
                    <p class="failure__message mt-3">Something went wrong. Try contacting through whatsapp.</p>
                    <div class="text-center"><button class="contact__page__btn" type="submit">Send</button></div>
                </form>
            </div>
        </div>
    </div>
</div>





    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js">
    </script>
   <script type="text/javascript">
   (function(){
      emailjs.init("user_hnoVKOBKOpwcVV4rYrQUB");
   })();
</script>
    <script>
        function validateForm() {
            var name = document.forms["myForm"]["name"].value;
            var email = document.forms["myForm"]["email"].value;
            var phoneno = document.forms["myForm"]["phoneno"].value;
            var message = document.forms["myForm"]["message"].value;

    if (name === "") {
      alert("Name must be filled out");
      event.preventDefault();
    } else if (email === "" && phoneno === "") {
        alert('Email or Phone no must be filled out');
        event.preventDefault();
    }
    else {
        sendEmail(event);
    }

        }


        function sendEmail(e) {
        console.log(e)
    
      e.preventDefault();
  
      emailjs.sendForm('service_e6j9eho', 'template_m7cz7x6', e.target, 'user_hnoVKOBKOpwcVV4rYrQUB')
        .then((result) => {
            document.querySelector('.success__message').style.display = 'block';
            
        }, (error) => {
            document.querySelector('.failure__message').style.display = 'block';
            console.log('bye');
        });
        e.target.reset()
    }

        $('#myForm').on('submit', function(event) {
    event.preventDefault(); // prevent reload
    
    var formData = new FormData(this);
    formData.append('service_id', 'service_e6j9eho');
    formData.append('template_id', 'template_m7cz7x6');
    formData.append('user_id', 'user_hnoVKOBKOpwcVV4rYrQUB');
 
    $.ajax('https://api.emailjs.com/api/v1.0/email/send-form', {
        type: 'POST',
        data: formData,
        contentType: false, // auto-detection
        processData: false // no need to parse formData to string
    }).done(function() {
        alert('Your mail is sent!');
    }).fail(function(error) {
        alert('Oops... ' + JSON.stringify(error));
    });
});

    </script>

    <%- include("partials/footer") -%>