<%- include("parcials/header") -%>

<div class="container text-center">

    <h2 class="mt-5 mb-5">Tours</h2>
    <h4 class="mb-5">SELECT YOUR TOUR OR ADVENTURE BELOW</h4>
    <p>Trolley Dolly</p>


</div>

<%- include("parcials/footer") -%>