<%- include("partials/header") -%>

    <div class="food">
        <div class="" id="food">
            <h1 class="pages__heading text-center" style="font-size: 45px;"><span class="underline--magical underline--food">Exclusively for International Airline Crew</span></h1>
        </div>
        <br>


        <div class="container text-left mt-5" >
            <div>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1579871493788-211b9c3c090e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8Zm9vZCUyMGFuZCUyMGRyaW5rfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                <img class="img-fluid" src="https://images.unsplash.com/photo-1506553493793-ccfd9f4371fa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTF8fGZvb2QlMjBhbmQlMjBkcmlua3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" >
            </div>
            <div class="text-left">
                <h3 class="mt-5 mb-3">Don't miss out on your favorite Food & Drinks.</h3>
                <h6>Delivered straight at the Hotel.</h6>
                <h6>For Food & Beverage list please what's app Mr Binny</h6>
                <button class="btnL mt-3 mb-5" style="background-color: #202B30;">
                    <a style="color: white;" href="https://api.whatsapp.com/send?phone=91 9321160188">WhatsApp</a>
                </button>
            </div>
        </div>




    </div>
    </div>

    <%- include("partials/footer") -%>