<%- include("partials/header") -%>

    <div>
        <div class="food" id="food">
            <h1 class="pages__heading">Trolley Dolly Mumbai Layover Meal.</h1>
        </div>
        <br>


        <div class="container text-center food__container">
            <h4 style="margin-top: 150px;">Order your favourite Snacks and Drinks</h4>
            <p class="mb-5">Get it delivered at the hotel</p>



            <!-- <h5 class="menu__headline">Mini set Menu for one <br> Rs 1095/-</h5>
            <div class="menu">
                <div class="food__img mt-3">
                    <img class="food__img1" src="/photos/Food/foodimg1.jpg" alt="">
                    <img class="food__img2" src="/photos/Food/foodimg2.jpg" alt="">
                    <img class="food__img3" src="/photos/Food/foodimg3.jpg" alt="">
                </div>
                <div class="menu__content">
                    <p>Papadams & Mango Chutney Chicken or Paneer Tikka Masala Button Garlic Naan 2pc Lrg Kingfisher Beer 650 ml or Cake/ Fanta/ Mango juice 500ml</p>
                </div>
            </div>




            <h5 class="menu__headline">Beer Prices</h5>
            <div class="menu">
                <div class="food__img">
                    <img class="food__img1" src="/photos/Food/drink1.jpg" alt="">
                    <img class="food__img2" src="/photos/Food/drink2.jpg" alt="">
                    <img class="food__img3" src="/photos/Food/drink4.jpg" alt="">
                </div>
                <p style="margin-top: 40px">Kingfisher 650 ml<br>Per Bottle Rs 275 /- <br> Per Case (12 beers) Rs 3300 /-</p>

            </div> -->



            <div style="margin-top: 150px;">
                <h5>For Free Delivery</h5>
                <p> Minimum 5 sets or a Case of Beer</p>

                <h5>Delivery Timings</h5>
                <p>12am - 3am / 5pm - 8pm</p>

                <h5>Pre Order to Mr Binny</h5>
                <button class="btn btn-dark">
                    <a style="color: white;" href="https://api.whatsapp.com/send?phone=91 9717389303">WhatsApp</a>
                </button>
            </div>




        </div>

    </div>

    <%- include("partials/footer") -%>