<%- include("partials/header") -%>

    <div class="home">
        <div class="home__caption">
            <h1 class="pages__heading">We Provide Amazing Tourist Services for Airline Staff.</h1>
            <a href="/contact-us" class="btn mt-3 home__contactbtn">CONTACT US</a>
        </div>
    </div>
    <div id="home-page">
        <div class="text-center">
            <div class="home__title">
                <div class="">
                    <div class="row" style="margin-right: 0;">
                        <div class="col-lg-6 col-md-6">
                            <div class="home__title__content text-right" style="padding-right: 0;">
                                <h3 class="mb-3 mt-5" style="letter-spacing: 2px; color: #0466c8">The Best benefits for International Airline, Crew and Staff
                                </h3>
                                <p style="color: #001845; ">
                                    We are Crew friendly one stop shop service provider to all International airline staffs on their layover to Mumbai.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6" style="padding-right: 0;">
                            <img class="img-fluid" src="/photos/RealTour/s1.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="home__benefits__content text-left">
            <div class="container">
                <h4 class="text-center home__exploretext" style="color: #001233">Explore some of our amazing benefits below</h4>
                <div class="row">
                    <div class="card-deck">
                        <div class="card home__card" data-aos="zoom-in">
                            <img src="/photos/Tour/tour.jpg" class="card-img-top home__img" alt="...">
                            <div class="card-body">
                                <h6 class="card-title " style="letter-spacing: 2px; color: #001233;"><b>TOURS</b></h6>
                                <p class="card-text">Tours and Adventures to make the most of your stopover or holiday. </p>
                                <button class="btn btn-sm" style="background-color: #001233;"><a class="homeCard__link" href="/tour">Learn More</a></button>
                            </div>
                        </div>
                        <div class="card home__card" data-aos="zoom-in">
                            <img src="/photos/Food/foodhome.jpg" class="card-img-top home__img" alt="...">
                            <div class="card-body">
                                <h6 class="card-title" style="letter-spacing: 2px; color: #001233;"><b>FOOD AND DRINK SERVICES</b></h6>
                                <p class="card-text">Great local activities and fun adventures at special crew prices. </p>
                                <button class="btn btn-sm" style="background-color: #001233;"><a class="homeCard__link" href="/food-services">Learn More</a></button>
                            </div>
                        </div>
                        <div class="card home__card" data-aos="zoom-in">
                            <img src="/photos/Spa/spa-img/spa.jpg" class="card-img-top home__img" alt="...">
                            <div class="card-body">
                                <h6 class="card-title" style="letter-spacing: 2px; color: #001233;"><b>SPA SERVICES</b></h6>
                                <p class="card-text">Discounts on great spa services at best prices ever in the town.</p>
                                <button class="btn btn-sm" style="background-color: #001233;"><a class="homeCard__link" href="/spa">Learn More</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id="testimonials">
            <h1 class="text-center mb-5" style="color: #001233;">Testimonials</h1>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="card mt-3 text-center">
                        <div class="testimonials__profile-pic">
                            <img class='mb-2' src="/photos/RealTour/s32.jpeg" alt="">
                            <i><p>Sophie</p></i>
                        </div>
                        <p>
                            "We were in Mumbai for two days so this was a great way to see some of the key sites around the city in half a day. we booked our tour night before and was picked up on time at 11am next morning by Mr Binny. The tour included sites such as Victoria Terminus,
                            Gateway of India, Taj palace hotel, Open air laundrette ( Dhobi Talao), Marine drive, Hanging Gardens, Tower of Silence, followed by delicious lunch at a nice Indian restaurant. Although the tour was just 6 hours, we didn't
                            feel rushed at any of the sites. Our host made sure we had time to walk around and take pictures etc. Mr Binny was knowledgeable friendly & fun. I 'd recommend this tour to those who are here on short time."
                        </p>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="card mt-3 text-center">
                        <div class="testimonials__profile-pic">
                            <img class='mb-2' src="/photos/RealTour/s34.jpeg" alt="">
                            <i><p>Maria</p></i>
                        </div>
                        <p>
                            "We decided to book this private sight seeing tour because we wanted a comfortable way to cruise around Mumbai without any hassle. Binny was a tremendous host. He was well informed and quiet accommodating. He and his driver were right on time and courteous.
                            The AC coach we went on was nice and clean. Binny was quite friendly and gave us detailed explanation of each of the places we had visited. In a nutshell it was a wonderful experience we all had. I would highly recommend
                            this sight seeing tour for anyone who wants to see Mumbai in a relaxed manner. last but not least kudos to binny for being an amazing host."
                        </p>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="card mt-3 text-center">
                        <div class="testimonials__profile-pic ">
                            <img class='mb-2' src="/photos/RealTour/s7-test.jpeg" alt="">
                            <i><p>Rebecca</p></i>
                        </div>
                        <p>
                            "We had limited time to visit and our tour guide Abhi she did a great job of showing and describing key sites of Mumbai. She made the visit very interesting and was very knowledgeable of the history associated with the various places we visited. Our driver
                            was also very patient dealing with the traffic. Food we had was so delicious and mouth watering at restaurant called ustaadi. If anyone flying to Mumbai next I would highly recommend them to do this tour."
                        </p>
                        
                    </div>
                </div>
                
            </div>
            
            
            
            
            
            
            
            <!-- <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner testimonials-inner"  id="carousel-inner-testimonials" >
                    <div class="carousel-item active">
                        <div class="carousel-caption">
                            <p>
                                We were in Mumbai for two days so this was a great way to see some of the key sites around the city in half a day. we booked our tour night before and was picked up on time at 11am next morning by Mr Binny. The tour included sites such as Victoria Terminus,
                                Gateway of India, Taj palace hotel, Open air laundrette ( Dhobi Talao), Marine drive, Hanging Gardens, Tower of Silence, followed by delicious lunch at a nice Indian restaurant. Although the tour was just 6 hours, we didn't
                                feel rushed at any of the sites. Our host made sure we had time to walk around and take pictures etc. Mr Binny was knowledgeable friendly & fun. I 'd recommend this tour to those who are here on short time.
                            </p>
                            <p>-Sophie</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <p>
                                We decided to book this private sight seeing tour because we wanted a comfortable way to cruise around Mumbai without any hassle. Binny was a tremendous host. He was well informed and quiet accommodating. He and his driver were right on time and courteous.
                                The AC coach we went on was nice and clean. Binny was quite friendly and gave us detailed explanation of each of the places we had visited. In a nutshell it was a wonderful experience we all had. I would highly recommend
                                this sight seeing tour for anyone who wants to see Mumbai in a relaxed manner. last but not least kudos to binny for being an amazing host.
                            </p>
                            <p>-Maria.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <p>
                                We had limited time to visit and our tour guide Abhi she did a great job of showing and describing key sites of Mumbai. She made the visit very interesting and was very knowledgeable of the history associated with the various places we visited. Our driver
                                was also very patient dealing with the traffic. Food we had was so delicious and mouth watering at restaurant called ustaadi. If anyone flying to Mumbai next I would highly recommend them to do this tour.
                            </p>
                            <p>-Rebecca.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <p>
                                We had a very informative tour guide and driver they took us on a Wonderful journey where we experienced the sights, sounds and smells of Mumbai. Traffic is incredible with the constant sound of honking horns and bumper to bumper vehicles of all shapes
                                and sizes, crossing streets was an entirely a different experience in Mumbai. We visited no of sights and Gateway of India,Taj palace hotel & Laundrette was fascinating. Well worth the money and had an amazing tour.
                            </p>
                            <p>-Damien</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div> -->
        </div>
        
        
        <!-- Image slider  -->
        <div id="carouselExampleControls" class="carousel slide home__carousel" style="height: 0;" data-ride="carousel">
            <div class="container">
                <h3 class="mb-3 text-right">Our Gallery</h3>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row no-gutters">
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s27.jpeg" alt="First slide">
                        </div>
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s30.jpeg" alt="First slide">
                        </div>
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s28.jpeg" alt="First slide">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row no-gutters">
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s5.jpeg" alt="First slide">
                        </div>
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s6.jpeg" alt="First slide">
                        </div>
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s7.jpeg" alt="First slide">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row no-gutters">
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s8.jpeg" alt="First slide">
                        </div>
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s11.jpeg" alt="First slide">
                        </div>
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s19.jpeg" alt="First slide">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row no-gutters">
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s20.jpeg" alt="First slide">
                        </div>
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s22.jpeg" alt="First slide">
                        </div>
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s31.jpeg" alt="First slide">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row no-gutters">
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s9.jpeg" alt="First slide">
                        </div>
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s10.jpeg" alt="First slide">
                        </div>
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s14.jpeg" alt="First slide">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row no-gutters">
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s29.jpeg" alt="First slide">
                        </div>
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s25.jpeg" alt="First slide">
                        </div>
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s24.jpeg" alt="First slide">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row no-gutters">
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s26.jpeg" alt="First slide">
                        </div>
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s17.jpeg" alt="First slide">
                        </div>
                        <div class="col-4 col-md-6 col-lg-4">
                            <img class="d-block w-100 img-fluid" src="/photos/Realtour/s1.jpeg" alt="First slide">
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    </div>
    <!-- aos animation script  -->



    <%- include("partials/footer") -%>