<%- include("partials/header") -%>

    <div>
        <div class="" id="spa">
            <h1><i>SPA AND BEAUTY SERVICES</i></h1>
        </div>
        <br><br><br>
        <h2 class="text-center">Some of our amazing Spa services!</h2>
    </div>

    <%- include("partials/footer") -%>