<%- include("partials/header") -%>

    <div>
        <div class="" id="spa">
            <h1 class="pages__heading" style="font-size: 3rem;">Spa and Beauty Packages.</h1>
        </div>

        <div class="spa__container">
        <div class="container text-left spa__page">
            <div class="spa__heading text-right">
                <h3 class="" style="padding-top: 100px;">Trolley Dolly Make Over Place.</h3>
                <!-- <h5 style="color: #666; margin-bottom: 30px;">We bring out the BEAUTY in you</h5> -->
                <p class="" style="margin-bottom: 100px">Especially designed for International Airline Staff <br> with Pick-up and Drop Facilities from the Hotel </p>
                <!-- <p>We bring out the BEAUTY in you</p> -->
            </div>
            <div class="row">
                <div class="card-deck">
                    <div class="col col-lg-4 col-md-6 col-sm-12">
                        <div class="card mt-3 " data-aos="zoom-in">
                            <img src="/photos/Spa/spa-img/spa1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">Deep Tissue Body Massage 60 mins + Hair Shampooing / Conditioning 20 mins</h6>
                                <p class="card-text">A1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-6 col-sm-12">
                        <div class="card  mt-3" data-aos="zoom-in">
                            <img src="/photos/Spa/spa-img/head-massage.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">Divine Head Massage 35 mins + Foot Reflexology 35 mins + Aroma Pedicure 35 mins</h6>
                                <p class="card-text">A2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-6 col-sm-12">
                        <div class="card mt-3" data-aos="zoom-in">
                            <img src="/photos/Spa/spa-img/men-grooming.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">Mens Grooming</h6>
                                <h6 class="card-title">Foot Reflexology 35 mins + Divine Head Massage 35 mins + Haircut + Beard Shave + Shampooing 45 mins</h6>
                                <p class="card-text">A3</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-6 col-sm-12">
                        <div class="card mt-3" data-aos="zoom-in">
                            <img src="/photos/Spa/spa-img/nail-extention2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">Nail Extension 90 mins + Gel Polish 35 mins + Regular Pedicure 30 mins</h6>
                                <p class="card-text">B1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-6 col-sm-12">
                        <div class="card mt-3" data-aos="zoom-in">
                            <img src="/photos/Spa/spa-img/spa-pedicure.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">Aroma Therapy Body Massage 60 mins + Aroma Pedicure 35 mins + Aroma Manicure 30 mins + Hair Shampooing / Conditioning 20 mins</h6>
                                <p class="card-text">B2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-6 col-sm-12">
                        <div class="card mt-3" data-aos="zoom-in">
                            <img  src="/photos/Spa/spa-img/spa-oil.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">Aroma Therapy Body Massage 60 mins + Aroma Hair Spa 45 mins + Spa Pedicure 45 mins </h6>
                                <p class="card-text">C1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-6 col-sm-12">
                        <div class="card mt-3" data-aos="zoom-in">
                            <img  src="/photos/Spa/spa-img/spa.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">Deep Tissue Massage 60 mins + Spa Pedicure 45 mins + Spa Manicure 45 mins</h6>
                                <p class="card-text">C2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-6 col-sm-12">
                        <div class="card mt-3 mb-3" data-aos="zoom-in">
                            <img src="/photos/Spa/spa-img/hair-spa.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">Aroma Therapy Body Massage 60 mins + Spa Pedicure 45 mins + Spa Manicure 45 mins + Hair Spa</h6>
                                <p class="card-text">D1</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-left spa-contact">
            <h5 class="" >All inclusive with pick-up and drop facilities from the hotel</h5> 
            <h5 >Keep calm and make a self-care plan.</h5>
            <h6>for further details please contact Mr. Binny on WhatsApp            </h6>
            <button class="btn mt-3" style="background-color: #457b9d; color: #eee;">
                <a style="color: white;" href="https://api.whatsapp.com/send?phone=91 9321160188">WhatsApp</a>
            </button>
        </div>
    </div>

    </div>



    <%- include("partials/footer") -%>