<%- include("partials/header") -%>

    <div>
        <div class="tour">
            <h1>Tours.</h1>
        </div>
        
        <div class="container mx-auto row tour__container text-center">
            <div class="tour__heading">
                <h2 class="text-center mt-5">Mumbai Tour</h2>
                <p class="mt-3">Mumbai is the capital city of the Indian state of Maharashtra. According to the United Nations, as of 2018, Mumbai is the most populous city in the country and the seventh-most populous city in the world with a population of roughly 20 million.</p>    
            </div>
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/Gatewayofindia.jpg" alt="">
                <h5>Gate Way of India</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/tajHotel.jpg" alt="">
                <h5>Taj Mahal Palace Hotel</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/highCourt.jpg" alt="">
                <h5>Mumbai High Court</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/marineDrive.jpg" alt="">
                <h5>Marine Drive</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
        </div>
        <div class="container mx-auto row tour__container text-center">
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/dhobiGhat.jpeg" alt="">
                <h5>Dhobi Ghat</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/muncipal.jpg" alt="">
                <h5>Muncipal Council Building</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/cst.jpg" alt="">
                <h5>Chhatrapati Shivaji Terminus</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/antillia.jpg" alt="">
                <h5>Antillia</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
        </div>
        <div class="container mx-auto row tour__container text-center">
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/hangingGarden.jpg" alt="">
                <h5>Hanging Garden</h5>
                <button class="btn btn-dark  btn-sm mt-1">Learn More</button>
            </div>
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/custom.jpg" alt="">
                <h5>Custom Tour</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
            <!-- <div class="col-lg-3">
                <img class='tour__img' src="/photos/Tour/nehruCenter.jpg" alt="">
                <h6>Tour 1</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/Tour/SanjayGandhiNationalPark.jpg" alt="">
                <h6>Custom Tour</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div> -->
        </div>

        </div>
        
 

    <%- include("partials/footer") -%>