<%- include("partials/header") -%>

    <div>
        <div class="tour">
            <h1><i>TOURS</i></h1>
        </div>
        <br><br><br>
        <p>
            <h2 class="text-center">Mumbai Tour!</h2>
        </p>
        <br><br><br>
        <div class="container mx-auto row tour__container">
            <div class="col-lg-3" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Gatewayofindia.jpg" alt="">
                <h5>Gate Way of India</h5>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3" data-aos="zoom-in">
                <img class='tour__img' src="/photos/tajHotel.jpg" alt="">
                <h5>Taj Mahal Palace Hotel</h5>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3" data-aos="zoom-in">
                <img class='tour__img' src="/photos/highCourt.jpg" alt="">
                <h5>Mumbai High Court</h5>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3" data-aos="zoom-in">
                <img class='tour__img' src="/photos/kanheriCaves.jpg" alt="">
                <h5>Kanheri Caves</h5>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
        </div>
        <div class="container mx-auto row tour__container">
            <div class="col-lg-3" data-aos="zoom-in">
                <img class='tour__img' src="/photos/SanjayGandhiNationalPark.jpg" alt="">
                <h5>Borivali National Park</h5>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3" data-aos="zoom-in">
                <img class='tour__img' src="/photos/muncipal.jpg" alt="">
                <h5>Muncipal Council Building</h5>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3" data-aos="zoom-in">
                <img class='tour__img' src="/photos/cst.jpg" alt="">
                <h5>Chhatrapati Shivaji Terminus</h5>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3" data-aos="zoom-in">
                <img class='tour__img' src="/photos/hangingGarden.jpg" alt="">
                <h5>Hanging Garden</h5>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
        </div>
        <div class="container mx-auto row tour__container">
            <div class="col-lg-3" data-aos="zoom-in">
                <img class='tour__img' src="/photos/antillia.jpg" alt="">
                <h5>Antillia</h5>
                <p>
                    <small>
                        Antillia is the residence of Indian billionaire Mukesh Ambani.       
                    </small>
                </p>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3" data-aos="zoom-in">
                <img class='tour__img' src="/photos/dhobiGhat.jpeg" alt="">
                <h5>Dhobi Ghat</h5>
                <p>
                    <small>
                        Dhobi Ghat in Mahalaxmi is an open air laundry.
                    </small>
                </p>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3" data-aos="zoom-in">
                <img class='tour__img' src="/photos/marineDrive.jpg" alt="">
                <h5>Marine Drive</h5>
                <p>
                    <small>
                        Marine Drive is also known as the Queen's Necklace.
                    </small>
                </p>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3" data-aos="zoom-in">
                <img class='tour__img' src="/photos/dharavi.jpeg" alt="">
                <h5>Dharavi</h5>
                <p>
                    <small>
                        Place where Slumdog millionaire was shot(Oscar winning movie)
                    </small>
                </p>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
        </div>
        <div>
            <h2>Other Places</h2>
        </div>
    </div>

    <%- include("partials/footer") -%>