<%- include("partials/header") -%>

    <div>
        <div class="tour">
            <h1>Tours</h1>
        </div>
        
        <div class="container mx-auto row tour__container text-center">
            <div class="tour__heading">
                <h2 class="text-center mt-5">Mumbai Tour.</h2>
                <p class="mt-3 mb-3">Mumbai is the capital city of the Indian state of Maharashtra. According to the United Nations, as of 2018, Mumbai is the most populous city in the country and the seventh-most populous city in the world with a population of roughly 20 million.</p>    
            </div>


            <div class="card tour__card" data-aos="zoom-in">
                <div class="row no-gutters">

                  <div class="col-md-4">
                    <img src="/photos/Tour/Gatewayofindia.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title tour__cardtitle">Gateway of India</h5>
                      <p class="card-text tour__cardcontent text-left">This iconic structure is known as the Gateway of India and was built to honor the visit of King George V and Queen Mary to Bombay (now Mumbai) in the year 1911. Surprisingly, the development of the structure was finished in the year 1924 and since then it has been one of the most visited vacation spots in Mumbai. You can grab some fabulous photography shots at this spot, lip-smacking street foods like bhelpuri, Sev puri, and many more. With the walled limit of the structure brushing with the Arabian Sea, you'll notice a vast number of tourists enjoying the spectacular view in midst of all the hustle and bustle of this metropolis.</p>
                    </div>
                  </div>
                </div>
              </div>


              <div class="card mt-5 tour__card" data-aos="zoom-in">
                <div class="row no-gutters">
                    
                  <div class="col-md-4">
                    <img src="/photos/Tour/tajHotel.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title tour__cardtitle">Taj Mahal hotel</h5>
                      <p class="card-text tour__cardcontent text-left">The Taj Mahal Palace Hotel is a five-star, lavish hotel built in the Saracenic Revival style in the Colaba region of Mumbai and is just a stone throw away from the Gateway of India. Also known as the "Taj Mahal Hotel" or "the Taj". The hotel is viewed as probably the best in the East since the reign of the British Raj. </p>
                    </div>
                  </div>
                </div>
              </div>



              <div class="card mt-5 tour__card" data-aos="zoom-in">
                <div class="row no-gutters">
                    
                  <div class="col-md-4">
                    <img src="/photos/Tour/elephantaCaves.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title tour__cardtitle">Elephanta Caves</h5>
                      <p class="card-text tour__cardcontent text-left">Elephants caves is one of the UNESCO World Heritage Site, it's an epitome of rock-cut workmanship and art of medieval India. The caverns are located on the Elephanta or Gharapuri island located at a distance of 11 km from Mumbai city. Locally known as Gharapurichi Leni, the Elephanta Caves today are remains of what were once extravagantly painted craftsmanships. It additionally gives an astounding view of the Mumbai horizon.</p></div>
                  </div>
                </div>
              </div>




              <div class="card mt-5 tour__card" data-aos="zoom-in">
                <div class="row no-gutters">
                    
                  <div class="col-md-4">
                    <img src="/photos/Tour/Dharavislums.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title tour__cardtitle">Dharavi Slums:</h5>
                      <p class="card-text tour__cardcontent text-left">Known as the largest slum in Asia and beautifully depicted in the Oscar-winning movie Slumdog Millionaire, our slum tour unravels the lives of people residing in the slums of Dharavi and their culture. Despite all the misery and sufferings that one may witness here, the people of Dharavi slums are a source of inspiration depicting life in adverse conditions.</p></div>
                  </div>
                </div>
              </div>




              <div class="card mt-5 tour__card" data-aos="zoom-in">
                <div class="row no-gutters">
                    
                  <div class="col-md-4">
                    <img src="/photos/Tour/dhobighat1.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title tour__cardtitle">Dhobi Talao</h5>
                      <p class="card-text tour__cardcontent text-left">Dhobi Talao boasts of having the world's largest outdoor laundry which is also known as Dhobi Ghat. Formed back in 1890, the renowned laundromat is tremendously adored by photographers who come to take vivid pictures of washermen toiling hard to clean the huge pile of clothes. Strings of beautifully coloured garments drying under the Mumbai sun additionally make for a spectacular view.</p></div>
                  </div>
                </div>
              </div>




              <div class="card mt-5 tour__card" data-aos="zoom-in">
                <div class="row no-gutters">
                    
                  <div class="col-md-4">
                    <img src="/photos/Tour/hangingGarden.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title tour__cardtitle">Hanging Gardens</h5>
                      <p class="card-text tour__cardcontent text-left">The Hanging Gardens which is also called Pherozeshah Mehta Gardens. They are situated in Malabar Hill, opposite the Kamala Nehru Park (famous for the mammoth shoe structure inside the garden), and are quite popular amongst children. </p></div>
                  </div>
                </div>
              </div>


          







            <!-- <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/Gatewayofindia.jpg" alt="">
                <h5>Gate Way of India</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/tajHotel.jpg" alt="">
                <h5>Taj Mahal Palace Hotel</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/highCourt.jpg" alt="">
                <h5>Mumbai High Court</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/marineDrive.jpg" alt="">
                <h5>Marine Drive</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
        </div>
        <div class="container mx-auto row tour__container text-center">
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/dhobiGhat.jpeg" alt="">
                <h5>Dhobi Ghat</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/muncipal.jpg" alt="">
                <h5>Muncipal Council Building</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/cst.jpg" alt="">
                <h5>Chhatrapati Shivaji Terminus</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/antillia.jpg" alt="">
                <h5>Antillia</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
        </div>
        <div class="container mx-auto row tour__container text-center">
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/hangingGarden.jpg" alt="">
                <h5>Hanging Garden</h5>
                <button class="btn btn-dark  btn-sm mt-1">Learn More</button>
            </div>
            <div class="col-lg-3 mb-5" data-aos="zoom-in">
                <img class='tour__img' src="/photos/Tour/custom.jpg" alt="">
                <h5>Custom Tour</h5>
                <button class="btn btn-dark btn-sm mt-1">Learn More</button>
            </div>
            <!-- <div class="col-lg-3">
                <img class='tour__img' src="/photos/Tour/nehruCenter.jpg" alt="">
                <h6>Tour 1</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/Tour/SanjayGandhiNationalPark.jpg" alt="">
                <h6>Custom Tour</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div> -->
        <!-- </div>  -->

        </div>
        
 

    <%- include("partials/footer") -%>