<%- include("partials/header") -%>

    <div>
        <div class="tour">
            <h1><i>TOURS</i></h1>
        </div>
        <br><br><br>
        <p>
            <h2 class="text-center">Crew Adventure Tours!</h2>
        </p>
        <br><br><br>
        <div class="container mx-auto row text-center">
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/taj.jpg" alt="">
                <h6>Taj Mahal Tour</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/taj2.jpg" alt="">
                <h6>Tour 1</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/taj.jpg" alt="">
                <h6>Tour 1</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/taj.jpg" alt="">
                <h6>Tour 1</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
        </div>
        <br> <br>
        <div class="container mx-auto row text-center">
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/taj.jpg" alt="">
                <h6>Tour 1</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/taj.jpg" alt="">
                <h6>Tour 1</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/taj.jpg" alt="">
                <h6>Tour 1</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
            <div class="col-lg-3">
                <img class='tour__img' src="/photos/taj.jpg" alt="">
                <h6>Custom Tour</h6>
                <button class="btn btn-light homeCard__btn">Read More...</button>
            </div>
        </div>
    </div>

    <%- include("partials/footer") -%>