<%- include("partials/header") -%>

    <div class="tour">
        <h1>Tours</h1>
    </div>
    
    <div class="tour__page">
        <div class="tour__heading ">
            <div class="container text-left">
                <h2>MUMBAI TOUR</h2>
                <p class="mt-3">Mumbai is the capital city of the Indian state of Maharashtra. According to the United Nations, as of 2018, Mumbai is the most populous city in the country and the seventh-most populous city in the world with a population of roughly 20 million.
                </p>
            </div>
        </div>
    <div class="container">
        <h3 class="mt-5 mb-5 text-center">Tours we offer in Mumbai</h3>
        <div class="row text-left">
            <div class="card-deck">
                <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card mt-3" data-aos="zoom-in">
                        <img class="tour__img" src="/photos/Background/bg8.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">GateWay of India</h5>
                            <button class="btn btn-sm btn-dark" > <a class="tour__link" href="/tour/Gate-Way-Of-India">Know more</a></button>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card mt-3" data-aos="zoom-in">
                        <img class="tour__img" src="/photos/Tour/dharavi.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dharavi slums</h5>
                            <button class="btn btn-sm btn-dark" ><a class="tour__link" href="/tour/Dharavi-Slums">Know more</a></button>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card mt-3" data-aos="zoom-in">
                        <img class="tour__img" src="/photos/Tour/elephantaCaves.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Elephanta Caves</h5>
                            <p>1 hour Journey by boat</p>
                            <button class="btn btn-sm btn-dark"><a class="tour__link" href="/tour/Elephanta-Caves">Know more</a></button>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card  mt-3" data-aos="zoom-in">
                        <img class="tour__img" src="/photos/Tour/taj-hotel.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Taj Hotel Palace</h5>
                            <button class="btn btn-sm btn-dark"><a class="tour__link" href="/tour/Taj-Hotel">Know more</a></button>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card mt-3" data-aos="zoom-in">
                        <img class="tour__img" src="/photos/Tour/kanheriCaves.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Kanheri Caves</h5>
                            <button class="btn btn-sm btn-dark"><a class="tour__link" href="/tour/Kanheri-Caves">Know more</a></button>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card mt-3" data-aos="zoom-in">
                        <img class="tour__img" src="/photos/Tour/Juhubeach.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Juhu Beach</h5>
                            <button class="btn btn-sm btn-dark"><a class="tour__link" href="/tour/Juhu-Beach">Know more</a></button>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card mt-3" data-aos="zoom-in">
                        <img class="tour__img" src="/photos/Tour/marine.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Marine Drive</h5>
                            <button class="btn btn-sm btn-dark"><a class="tour__link" href="/tour/Marine-Drive">Know more</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" tour__otherPlaces">
    <div class="container">
    <h2>OTHER PLACES IN MUMBAI</h2>
    <div class="row mt-5 text-center">
        <div class="col-sm-12 col-lg-6 text-left">
            <p>
                <li>Leather Industry</li>
            </p>
            <p>
                <li>Making of Soap</li>
            </p>
            <p>
                <li>Colour Dye</li>
            </p>
            <p>
                <li>Small Alley</li>
            </p>
            <p>
                <li>Schools</li>
            </p>
            <p>
                <li>Houses in Slum</li>
            </p>
            <p>
                <li>Plastic Recycling</li>
            </p>
            <p>
                <li>Muslim people making shrine for Hindu</li>
            </p>
            <p>
                <li>Recycling of veg oil</li>
            </p>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div id="carouselExampleSlidesOnly" class="tour__carousel carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/photos/Tour/collage/slum.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/photos/Tour/collage/plastic.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/photos/Tour/collage/leather.jpg" alt="Third slide">
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('.tour__carousel').carousel({
                interval: 1950
            })
        </script>
    </div>
</div>
</div>


<div class=" tour__end text-left">
    <div class="container">
        <h5>WANT TO GO ON A TOUR ?</h5>
        <p class="mt-3">A/C Bus and Car pick up and drop facility available from the hotel.</p>
        <p>For Further details Contact Mr. Binny</p>
        <button class="btn" style="background-color: #457b9d; color: #eee;">
            <a style="color: white;" href="https://api.whatsapp.com/send?phone=91 9321160188">WhatsApp</a>
        </button>
    </div>
</div>



    <%- include("partials/footer") -%>